* {
  font-family: Verdana;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}

.linktext  {
  color: aquamarine;
  font-size: 16px;
  font-variant: underline;
}

h2  {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

.normaltext {
  color: gray;
  font-size: 21px;
}

.copyrighttext  {
  color: gray;
  text-align: right;
  font-size: 21px;
}
